
<div class="topnav">
    <a class="active" routerLink="/">Acceuil</a>
    <a routerLink="/heroes">Sinnoh</a>
    <a>Kanto</a>
    <a>Hoenn</a>
    <a class="Connexion">Log In</a>
    <a class="Connexion">Register</a>
  </div>
<h1>Pokemon</h1>


<input class="form-control mr-sm-2" type="search" placeholder="Rechercher un pokemon" aria-label="Search">
<div class="button">    
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>

<router-outlet></router-outlet>