<h1 align = "center">Pokemon les plus recherché !</h1>

<div class="row justify-content-center">
<div class="card col-3" *ngFor="let hero of heros">
     
    <h1 class="heading">{{hero.name}}</h1>
    <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eligendi repellendus voluptatem illum reprehenderit cum voluptate facere perspiciatis quia? Deserunt dicta quos repellendus qui, deleniti placeat ullam rem iste porro.</p>
    <a href="javascript:void()" class="button" [routerLink]="['/hero',hero.id]">En savoir +</a>

  </div>
</div>


<!-- <div>
<ul>

   
        <a >

        <span class="id">{{hero.id}}</span>
        

        </a>
    
</ul>
</div> -->