<div class="container">
    <div class="row justify-content-center">
    <div class="col-4">
<input class="form-control mr-sm-2" type="search" placeholder="Rechercher un pokemon" aria-label="Search">
<div class="button">    
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>
</div>
</div>
</div>
<h1>Pokemon les plus recherché !</h1>

<div>
<ul>

    <li *ngFor="let hero of heros">
        <a [routerLink]="['/hero',hero.id]">

        <span class="id">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>

        </a>
    </li>
</ul>
</div>